language: go
go:
 - 1.4
 - 1.5
 - 1.6
 - 1.7
services:
  -postgresql
before_script:
  - psql -c 'create database utron;' -U postgres
before_install:
 - go get -t -v
 - go get github.com/axw/gocov/gocov
 - go get github.com/mattn/goveralls
 - if ! go get code.google.com/p/go.tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi
script:
 - $HOME/gopath/bin/goveralls -service=travis-ci -repotoken=$COVERALLS
