language: go
go:
 - 1.5.x
 - 1.6.x
 - 1.7.x
 - 1.8.x
 - 1.9.x
 - tip
services:
  -postgresql
before_script:
  - psql -c 'create database utron;' -U postgres
before_install:
 - go get -t -v
 - go get github.com/mattn/goveralls
script:
 - $HOME/gopath/bin/goveralls -v -service=travis-ci -repotoken=$COVERALLS
